-e git+https://github.com/orientechnologies/pyorient.git@5bbe000acb0e65d49a3f85bd0ecf9d40ae155467#egg=pyorient
names-translator==1.2.1
python-Levenshtein==0.12.0
dsnparse==0.1.12
Click==7.0
natsort==6.0.0
Unidecode==1.1.1
nameparser==1.0.3
langcodes==1.4.1
